<div [formGroup]="formGroup" class="container">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter Password...">
  </div>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
</div>
